.otp-tripOptionsWidget {
  padding: 0.25em 0.5em;
  z-index: 1100;
  overflow: hidden;
}

/* Locations Picker */

.otp-tripOptions-loc-input {
    width:100%;
    border-radius: 0px;
    border: 1px solid;    
}

.otp-tripOptions-loc-dropdownBtn {
    width: 100%;
    height: 100%;
    font-size: 9px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-radius: 0px;
    border: solid 1px;
    border-color: #fff #aaa #aaa #fff;
}

.otp-tripOptions-loc-reverseBtn {
    width: 20px;
    height: 22px;
    padding: 2px 1px;
    border-radius: 0px;
    border: solid 1px;
    border-color: #fff #aaa #aaa #fff;
}

/* Date/Time Picker */

.otp-date-input {
    text-align: center;
    width: 75px;
}

.otp-time-input {
    text-align: center;
    width: 55px;
}

/* Traversal mode icons */

.TraversalMode{
    display: inline-block;
}


/* Ikonce */

.TraversalMode[type=checkbox] {
    display:none;
}

/* TRANSIT */ 

#tmTransit[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmTransit[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmTransit[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* BUS */ 

#tmBus[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBus[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBus[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* TRAIN */ 

#tmTrain[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmTrain[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmTrain[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* WALK */

#tmWalk[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmWalk[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmWalk[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* BICYCLE */

#tmBicycle[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBicycle[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBicycle[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* CAR */

#tmCar[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmCar[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmCar[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* PARK AND RIDE */

#tmParkRide[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmParkRide[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmParkRide[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* KISS AND RIDE */

#tmKissRide[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmKissRide[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmKissRide[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* BIKE AND RIDE */

#tmBikeRide[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBikeRide[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBikeRide[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* CAR SHARING */

#tmCarSharing[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmCarSharing[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmCarSharing[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

/* BIKE SHARING */

#tmBikeSharing[type=checkbox] + label {
    background-image: url("images/testGreen.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBikeSharing[type=checkbox]:checked + label {
    background-image: url("images/testRed.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}

#tmBikeSharing[type=checkbox]:disabled + label {
    background-image: url("images/testGrey.png");
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
}